<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>cargoWebApp.customer</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifyExpressDeliveryFilter</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>selectCargo</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyCheapestSorting</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>ConfirmnPay</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifySeaFreightFilter</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyDoorToDoorDeliveryFilter</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyStandardDeliveryFilter</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>enterCargoDetails</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>searchResultsPage</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>enterSenderInfo</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>enterRecieverInfo</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>BookingConfirmation</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyAirFreightFilter</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyDoorToPortDeliveryFilter</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyFastestSorting</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
