<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Test Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="8da5ba">  <td>20/09/09 00:27:26</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="customer.BookingConfirmation()[pri:0, instance:cargoWebApp.customer@e25b2fe]">BookingConfirmation</td> 
  <td>main@1007653873</td>   <td></td> </tr>
<tr bgcolor="8da5ba">  <td>20/09/09 00:27:26</td>   <td>-4</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="customer.ConfirmnPay()[pri:0, instance:cargoWebApp.customer@e25b2fe]">ConfirmnPay</td> 
  <td>main@1007653873</td>   <td></td> </tr>
<tr bgcolor="8da5ba">  <td>20/09/09 00:27:20</td>   <td>-5762</td> <td>&nbsp;</td><td title="&gt;&gt;customer.beforeTest()[pri:0, instance:cargoWebApp.customer@e25b2fe]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1007653873</td>   <td></td> </tr>
<tr bgcolor="8da5ba">  <td>20/09/09 00:27:26</td>   <td>-370</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="customer.enterCargoDetails()[pri:0, instance:cargoWebApp.customer@e25b2fe]">enterCargoDetails</td> 
  <td>main@1007653873</td>   <td></td> </tr>
<tr bgcolor="8da5ba">  <td>20/09/09 00:27:26</td>   <td>-8</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="customer.enterRecieverInfo()[pri:0, instance:cargoWebApp.customer@e25b2fe]">enterRecieverInfo</td> 
  <td>main@1007653873</td>   <td></td> </tr>
<tr bgcolor="8da5ba">  <td>20/09/09 00:27:26</td>   <td>-11</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="customer.enterSenderInfo()[pri:0, instance:cargoWebApp.customer@e25b2fe]">enterSenderInfo</td> 
  <td>main@1007653873</td>   <td></td> </tr>
<tr bgcolor="8da5ba">  <td>20/09/09 00:27:26</td>   <td>-52</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="customer.searchResultsPage()[pri:0, instance:cargoWebApp.customer@e25b2fe]">searchResultsPage</td> 
  <td>main@1007653873</td>   <td></td> </tr>
<tr bgcolor="8da5ba">  <td>20/09/09 00:27:26</td>   <td>-15</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="customer.selectCargo()[pri:0, instance:cargoWebApp.customer@e25b2fe]">selectCargo</td> 
  <td>main@1007653873</td>   <td></td> </tr>
<tr bgcolor="8da5ba">  <td>20/09/09 00:27:26</td>   <td>-35</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="customer.verifyAirFreightFilter()[pri:0, instance:cargoWebApp.customer@e25b2fe]">verifyAirFreightFilter</td> 
  <td>main@1007653873</td>   <td></td> </tr>
<tr bgcolor="8da5ba">  <td>20/09/09 00:27:26</td>   <td>-42</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="customer.verifyCheapestSorting()[pri:0, instance:cargoWebApp.customer@e25b2fe]">verifyCheapestSorting</td> 
  <td>main@1007653873</td>   <td></td> </tr>
<tr bgcolor="8da5ba">  <td>20/09/09 00:27:26</td>   <td>-22</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="customer.verifyDoorToDoorDeliveryFilter()[pri:0, instance:cargoWebApp.customer@e25b2fe]">verifyDoorToDoorDeliveryFilter</td> 
  <td>main@1007653873</td>   <td></td> </tr>
<tr bgcolor="8da5ba">  <td>20/09/09 00:27:26</td>   <td>-18</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="customer.verifyDoorToPortDeliveryFilter()[pri:0, instance:cargoWebApp.customer@e25b2fe]">verifyDoorToPortDeliveryFilter</td> 
  <td>main@1007653873</td>   <td></td> </tr>
<tr bgcolor="8da5ba">  <td>20/09/09 00:27:26</td>   <td>-27</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="customer.verifyExpressDeliveryFilter()[pri:0, instance:cargoWebApp.customer@e25b2fe]">verifyExpressDeliveryFilter</td> 
  <td>main@1007653873</td>   <td></td> </tr>
<tr bgcolor="8da5ba">  <td>20/09/09 00:27:26</td>   <td>-47</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="customer.verifyFastestSorting()[pri:0, instance:cargoWebApp.customer@e25b2fe]">verifyFastestSorting</td> 
  <td>main@1007653873</td>   <td></td> </tr>
<tr bgcolor="8da5ba">  <td>20/09/09 00:27:26</td>   <td>-39</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="customer.verifySeaFreightFilter()[pri:0, instance:cargoWebApp.customer@e25b2fe]">verifySeaFreightFilter</td> 
  <td>main@1007653873</td>   <td></td> </tr>
<tr bgcolor="8da5ba">  <td>20/09/09 00:27:26</td>   <td>-31</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="customer.verifyStandardDeliveryFilter()[pri:0, instance:cargoWebApp.customer@e25b2fe]">verifyStandardDeliveryFilter</td> 
  <td>main@1007653873</td>   <td></td> </tr>
</table>
