<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="90c4b1">  <td>20/08/17 01:43:33</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;customer.beforeTest()[pri:0, instance:cargoWebApp.customer@19d37183]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1024597427</td>   <td></td> </tr>
<tr bgcolor="90c4b1">  <td>20/08/17 01:43:38</td>   <td>4278</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="customer.enterCargoDetails()[pri:0, instance:cargoWebApp.customer@19d37183]">enterCargoDetails</td> 
  <td>main@1024597427</td>   <td></td> </tr>
<tr bgcolor="90c4b1">  <td>20/08/17 01:44:17</td>   <td>43541</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="customer.searchResultsPage()[pri:0, instance:cargoWebApp.customer@19d37183]">searchResultsPage</td> 
  <td>main@1024597427</td>   <td></td> </tr>
<tr bgcolor="90c4b1">  <td>20/08/17 01:44:47</td>   <td>73683</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="customer.verifyFastestSorting()[pri:0, instance:cargoWebApp.customer@19d37183]">verifyFastestSorting</td> 
  <td>main@1024597427</td>   <td></td> </tr>
<tr bgcolor="90c4b1">  <td>20/08/17 01:45:25</td>   <td>111554</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="customer.verifyCheapestSorting()[pri:0, instance:cargoWebApp.customer@19d37183]">verifyCheapestSorting</td> 
  <td>main@1024597427</td>   <td></td> </tr>
<tr bgcolor="90c4b1">  <td>20/08/17 01:45:37</td>   <td>123592</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="customer.verifySeaFreightFilter()[pri:0, instance:cargoWebApp.customer@19d37183]">verifySeaFreightFilter</td> 
  <td>main@1024597427</td>   <td></td> </tr>
<tr bgcolor="90c4b1">  <td>20/08/17 01:45:49</td>   <td>135635</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="customer.verifyAirFreightFilter()[pri:0, instance:cargoWebApp.customer@19d37183]">verifyAirFreightFilter</td> 
  <td>main@1024597427</td>   <td></td> </tr>
<tr bgcolor="90c4b1">  <td>20/08/17 01:46:01</td>   <td>147673</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="customer.verifyStandardDeliveryFilter()[pri:0, instance:cargoWebApp.customer@19d37183]">verifyStandardDeliveryFilter</td> 
  <td>main@1024597427</td>   <td></td> </tr>
<tr bgcolor="90c4b1">  <td>20/08/17 01:46:13</td>   <td>159714</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="customer.verifyExpressDeliveryFilter()[pri:0, instance:cargoWebApp.customer@19d37183]">verifyExpressDeliveryFilter</td> 
  <td>main@1024597427</td>   <td></td> </tr>
<tr bgcolor="90c4b1">  <td>20/08/17 01:46:25</td>   <td>171747</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="customer.verifyDoorToDoorDeliveryFilter()[pri:0, instance:cargoWebApp.customer@19d37183]">verifyDoorToDoorDeliveryFilter</td> 
  <td>main@1024597427</td>   <td></td> </tr>
<tr bgcolor="90c4b1">  <td>20/08/17 01:46:37</td>   <td>183783</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="customer.verifyDoorToPortDeliveryFilter()[pri:0, instance:cargoWebApp.customer@19d37183]">verifyDoorToPortDeliveryFilter</td> 
  <td>main@1024597427</td>   <td></td> </tr>
<tr bgcolor="90c4b1">  <td>20/08/17 01:46:49</td>   <td>195817</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="customer.selectCargo()[pri:0, instance:cargoWebApp.customer@19d37183]">selectCargo</td> 
  <td>main@1024597427</td>   <td></td> </tr>
<tr bgcolor="90c4b1">  <td>20/08/17 01:47:06</td>   <td>212846</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="customer.enterSenderInfo()[pri:0, instance:cargoWebApp.customer@19d37183]">enterSenderInfo</td> 
  <td>main@1024597427</td>   <td></td> </tr>
<tr bgcolor="90c4b1">  <td>20/08/17 01:47:18</td>   <td>224882</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="customer.enterRecieverInfo()[pri:0, instance:cargoWebApp.customer@19d37183]">enterRecieverInfo</td> 
  <td>main@1024597427</td>   <td></td> </tr>
<tr bgcolor="90c4b1">  <td>20/08/17 01:47:33</td>   <td>239933</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="customer.ConfirmnPay()[pri:0, instance:cargoWebApp.customer@19d37183]">ConfirmnPay</td> 
  <td>main@1024597427</td>   <td></td> </tr>
<tr bgcolor="90c4b1">  <td>20/08/17 01:47:45</td>   <td>251967</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="customer.BookingConfirmation()[pri:0, instance:cargoWebApp.customer@19d37183]">BookingConfirmation</td> 
  <td>main@1024597427</td>   <td></td> </tr>
</table>
