<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b0c1b8">  <td>20/08/09 21:10:06</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;NewTest.beforeTest()[pri:0, instance:example.NewTest@282003e1]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1514840818</td>   <td></td> </tr>
<tr bgcolor="b0c1b8">  <td>20/08/09 21:10:11</td>   <td>4922</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewTest.BookingFlow(java.lang.String, java.lang.String)[pri:0, instance:example.NewTest@282003e1]">BookingFlow</td> 
  <td>main@1514840818</td>   <td></td> </tr>
<tr bgcolor="b0c1b8">  <td>20/08/09 21:10:11</td>   <td>5237</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewTest.verifyHamburger_options()[pri:1, instance:example.NewTest@282003e1]">verifyHamburger_options</td> 
  <td>main@1514840818</td>   <td></td> </tr>
<tr bgcolor="b0c1b8">  <td>20/08/09 21:10:26</td>   <td>20337</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewTest.verifyHamburger_Bookings()[pri:2, instance:example.NewTest@282003e1]">verifyHamburger_Bookings</td> 
  <td>main@1514840818</td>   <td></td> </tr>
<tr bgcolor="b0c1b8">  <td>20/08/09 21:10:41</td>   <td>35386</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewTest.verifyHamburger_MyAccount()[pri:3, instance:example.NewTest@282003e1]">verifyHamburger_MyAccount</td> 
  <td>main@1514840818</td>   <td></td> </tr>
<tr bgcolor="b0c1b8">  <td>20/08/09 21:10:56</td>   <td>50419</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewTest.verifyHamburger_MyAccount_Personaldetails()[pri:4, instance:example.NewTest@282003e1]">verifyHamburger_MyAccount_Personaldetails</td> 
  <td>main@1514840818</td>   <td></td> </tr>
<tr bgcolor="b0c1b8">  <td>20/08/09 21:11:11</td>   <td>65457</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewTest.verifyHamburger_MyAccount_ChangePwd()[pri:5, instance:example.NewTest@282003e1]">verifyHamburger_MyAccount_ChangePwd</td> 
  <td>main@1514840818</td>   <td></td> </tr>
<tr bgcolor="b0c1b8">  <td>20/08/09 21:11:28</td>   <td>82498</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewTest.verifyHamburger_MyAccount_TermsnConditions()[pri:6, instance:example.NewTest@282003e1]">verifyHamburger_MyAccount_TermsnConditions</td> 
  <td>main@1514840818</td>   <td></td> </tr>
<tr bgcolor="b0c1b8">  <td>20/08/09 21:11:45</td>   <td>99540</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewTest.verifyHamburger_MyAccount_Pricing()[pri:7, instance:example.NewTest@282003e1]">verifyHamburger_MyAccount_Pricing</td> 
  <td>main@1514840818</td>   <td></td> </tr>
<tr bgcolor="b0c1b8">  <td>20/08/09 21:12:00</td>   <td>114567</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewTest.verifyHamburger_ContactUs()[pri:8, instance:example.NewTest@282003e1]">verifyHamburger_ContactUs</td> 
  <td>main@1514840818</td>   <td></td> </tr>
<tr bgcolor="b0c1b8">  <td>20/08/09 21:12:15</td>   <td>129605</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewTest.verifyHamburger_Signout()[pri:10, instance:example.NewTest@282003e1]">verifyHamburger_Signout</td> 
  <td>main@1514840818</td>   <td></td> </tr>
<tr bgcolor="b0c1b8">  <td>20/08/09 21:12:32</td>   <td>146643</td> <td>&nbsp;</td><td title="&lt;&lt;NewTest.afterTest()[pri:0, instance:example.NewTest@282003e1]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1514840818</td>   <td></td> </tr>
</table>
