<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Simple HTML-XML Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="eebfca">  <td>20/07/28 01:47:37</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewTest.BookingFlow(java.lang.String, java.lang.String)[pri:0, instance:example.NewTest@33b37288]">BookingFlow</td> 
  <td>main@513700442</td>   <td></td> </tr>
<tr bgcolor="eebfca">  <td>20/07/28 01:54:01</td>   <td>383763</td> <td>&nbsp;</td><td title="&lt;&lt;NewTest.afterTest()[pri:0, instance:example.NewTest@33b37288]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@513700442</td>   <td></td> </tr>
<tr bgcolor="eebfca">  <td>20/07/28 01:47:32</td>   <td>-4853</td> <td>&nbsp;</td><td title="&gt;&gt;NewTest.beforeTest()[pri:0, instance:example.NewTest@33b37288]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@513700442</td>   <td></td> </tr>
<tr bgcolor="eebfca">  <td>20/07/28 01:48:03</td>   <td>26346</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewTest.verifyHamburger_Bookings()[pri:2, instance:example.NewTest@33b37288]">verifyHamburger_Bookings</td> 
  <td>main@513700442</td>   <td></td> </tr>
<tr bgcolor="eebfca">  <td>20/07/28 01:53:50</td>   <td>373539</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewTest.verifyHamburger_ContactUs()[pri:8, instance:example.NewTest@33b37288]">verifyHamburger_ContactUs</td> 
  <td>main@513700442</td>   <td></td> </tr>
<tr bgcolor="eebfca">  <td>20/07/28 01:48:14</td>   <td>37641</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewTest.verifyHamburger_MyAccount()[pri:3, instance:example.NewTest@33b37288]">verifyHamburger_MyAccount</td> 
  <td>main@513700442</td>   <td></td> </tr>
<tr bgcolor="eebfca">  <td>20/07/28 01:53:32</td>   <td>354861</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewTest.verifyHamburger_MyAccount_ChangePwd()[pri:5, instance:example.NewTest@33b37288]">verifyHamburger_MyAccount_ChangePwd</td> 
  <td>main@513700442</td>   <td></td> </tr>
<tr bgcolor="eebfca">  <td>20/07/28 01:48:24</td>   <td>47415</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewTest.verifyHamburger_MyAccount_Personaldetails()[pri:4, instance:example.NewTest@33b37288]">verifyHamburger_MyAccount_Personaldetails</td> 
  <td>main@513700442</td>   <td></td> </tr>
<tr bgcolor="eebfca">  <td>20/07/28 01:53:46</td>   <td>369365</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewTest.verifyHamburger_MyAccount_Pricing()[pri:7, instance:example.NewTest@33b37288]">verifyHamburger_MyAccount_Pricing</td> 
  <td>main@513700442</td>   <td></td> </tr>
<tr bgcolor="eebfca">  <td>20/07/28 01:53:40</td>   <td>363218</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewTest.verifyHamburger_MyAccount_TermsnConditions()[pri:6, instance:example.NewTest@33b37288]">verifyHamburger_MyAccount_TermsnConditions</td> 
  <td>main@513700442</td>   <td></td> </tr>
<tr bgcolor="eebfca">  <td>20/07/28 01:53:54</td>   <td>377656</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewTest.verifyHamburger_Signout()[pri:10, instance:example.NewTest@33b37288]">verifyHamburger_Signout</td> 
  <td>main@513700442</td>   <td></td> </tr>
<tr bgcolor="eebfca">  <td>20/07/28 01:47:59</td>   <td>22076</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewTest.verifyHamburger_options()[pri:1, instance:example.NewTest@33b37288]">verifyHamburger_options</td> 
  <td>main@513700442</td>   <td></td> </tr>
</table>
